.comments {
  background-color: $color-primary;
  border-radius: 5px;
  box-shadow: $box-shadow-placemark;
  color: $color-light;
  left: -1.25em;
  position: absolute;
  top: -1.25em;
  width: 20em;
}

.new-comment {
  padding: 0.5em 0.5em 0.5em 2em;

  .button {
    color: $color-light;
    width: 100%;

    &:hover {
      background-color: $color-light;
      border-color: $color-light;
      color: $color-primary;
    }
  }
}
