.countdown {
  float: right;
  font-weight: bold;
  margin-top: 0.5em;
}

.countdown__value {
  background-color: $color-primary;
  border-radius: 3px;
  color: $color-dark;
  display: inline-block;
  height: 2em;
  line-height: 2;
  text-align: center;
  width: 1.5em;
}

.countdown__spacer {
  color: $color-primary;
}
