.ImageShow {
  background-color: $color-dark;
}

.image {
  padding: 0 2em 2em;
  position: relative;
}

.image-header {
  @include clearfix;
  margin: 1em 0;
  position: relative;
}

.image-title {
  float: left;
  letter-spacing: 0.02em;
  line-height: 3em;
  margin-left: 4em;
  text-transform: uppercase;
}

.image-container {
  border-radius: 3px;
  border: 1px solid black;
  display: inline-block;
  left: 50%;
  position: relative;
  transform: translate3d(-50%, 0, 0);
  transition: $transition-image;

  img {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}

.add-image {
  display: block;
  margin: 2em auto 0;
}
