.placemark-toggle {
  background-color: $color-primary;
  border-radius: 5px;
  box-sizing: content-box;
  display: block;
  height: 3em;
  left: 0;
  margin-top: -2px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 3em;
  z-index: 9;

  &:hover {
    width: auto;
  }
}

.placemark-toggle__item {
  cursor: pointer;
  display: none;
  height: 3em;
  line-height: 3em;
  padding: 0.5em;
  text-align: center;
  width: 3em;

  &:hover {
    background-color: $color-light;

    svg {
      fill: $color-primary;
    }
  }

  &.is-selected,
  .placemark-toggle:hover & {
    display: inline-block;
  }

  svg {
    fill: $color-dark;
    height: 2em;
    width: auto;
  }
}

.placemarks {
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(white, 0.2);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.placemark {
  $size: 1.5em;
  background-color: $color-primary;
  border-radius: $size / 2;
  border: 3px solid white;
  box-shadow: $box-shadow-placemark;
  color: $color-primary;
  cursor: pointer;
  font-weight: bold;
  height: $size;
  line-height: $size;
  padding: 0;
  position: absolute;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  transition: $transition-image;
  width: $size;

  &.is-selected {
    z-index: 999;
  }
}
