.stickers {
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(white, 0.2);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sticker {
  $size: 1.5em;
  background-color: $color-primary;
  border-radius: $size / 2;
  border: 3px solid white;
  box-shadow: $box-shadow-sticker;
  color: $color-primary;
  cursor: pointer;
  font-weight: bold;
  height: $size;
  line-height: $size;
  padding: 0;
  position: absolute;
  text-align: center;
  transform: translate3d(-50%, -50%, 0);
  transition: $transition-image;
  width: $size;

  .good & {
    background-color: $color-good;
  }

  .bad & {
    background-color: $color-bad;
  }
}
