html,
body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image-container {
  position: absolute;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.placemarks {
  position: relative;
  top: 0;
  left: 0;
}

.placemark {
  $size: 10px;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  color: white;
  width: 10px;
  height: 10px;
  background-color: black;
  border: 1px solid;
  padding: 0;
}

.is-active {
  background-color: red;
}

.comments {
  width: 25%;
  float: right;
}

.comment {
  border: 1px solid;
  padding: 1em;
  margin-bottom: 0.5em;
}
