* {
  box-sizing: border-box;
}

body {
  @include checkerboard;
  color: $gray-dark;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
}

a {
  color: inherit;
  cursor: pointer;
}

h1 {
  letter-spacing: 0.02em;
}

::selection,
.input:focus::selection {
  background-color: $brand-primary;
  color: white;
}

.inverse__wrapper {
  @include checkerboard($color-1: $brand-primary, $color-2: darken($brand-primary, 1%));
  bottom: 0;
  color: white;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;

  ::selection {
    background-color: white;
    color: $brand-primary;
  }
}

.inverse__container {
  margin: 0 auto 3rem;
  position: relative;
  width: 32rem;
  z-index: 1;
}
