.button {
  appearance: none;
  background: none;
  border-radius: $border-radius;
  border: 2px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2rem;
  outline: 0;
  padding: 0 0.5rem;
  transition: 0.1s linear;

  &:active {
    transform: translateY(0.5rem);
  }

  &.big {
    line-height: 3rem;
    width: 100%;
  }

  &.white {
    background-color: $gray-dark;
    border: 0;
    color: white;

    &:hover:not(:disabled) {
      background-color: white;
      border-color: white;
      color: $brand-primary;
    }

    &:focus {
      box-shadow: 0 0 0 1px $brand-primary, 0 0 0 3px white;
    }
  }

  @each $name, $color in $button-styles {
    &.#{$name} {
      color: $color;

      &:hover:not(:disabled) {
        background-color: $color;
        border-color: $color;
        color: white;
      }

      &:focus {
        box-shadow: 0 0 0 1px white, 0 0 0 3px $color;
      }
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
