$emoji-width: 2.5rem;

.picker {
  padding: 1rem;
  background-color: white;
  box-shadow: 0 5px 20px rgba(black, 0.2);
  box-sizing: content-box;
  width: $emoji-width * 5;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 1.5rem, 0);
}

.picker__emoji {
  font-size: 1.5rem;
  text-align: center;
  width: $emoji-width;
  height: $emoji-width;
  display: inline-block;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 2px $brand-primary;
  }
}
