$emoji-width: 3rem;

.picker {
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 5px 30px rgba(black, 0.2);
  box-sizing: content-box;
  width: $emoji-width * 6;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate3d(-50%, 1.5rem, 0);
  border-radius: $border-radius;

  &::after {
    $size: 0.75rem;
    content: "";
    height: $size;
    width: $size;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
    background-color: inherit;
    display: block;
    position: absolute;
  }
}

.picker__emoji {
  transition: 0.1s linear;
  font-size: 2rem;
  text-align: center;
  width: $emoji-width;
  height: $emoji-width;
  border-radius: $emoji-width / 2;
  display: inline-block;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: inset 0 0 0 4px $brand-primary;
  }

  .emoji {
    margin-top: 1px;
  }
}

.picker__delete {
  width: 100%;
}

.picker-enter {
  opacity: 0.01;
  transform: translate3d(-50%, 0, 0);

  &.picker-enter-active {
    opacity: 1;
    transform: translate3d(-50%, 2rem, 0);
    transition: 0.2s $ease-in-out-back;
  }
}

.picker-leave {
  opacity: 1;
  transform: translate3d(-50%, 2rem, 0);

  &.picker-leave-active {
    opacity: 0.01;
    transform: translate3d(-50%, 0, 0);
    transition: 0.2s $ease-in-out-back;
  }
}
