.footer {
  background-color: white;
  border-top: 1px solid $gray-lighter;
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: fixed;
  right: 0;
  transition: $transition;
  z-index: 99;

  &:hover {
    transform: translateY(0);
  }
}

.lifespan {
  $height: 0.5rem;
  background-color: $gray-lighter;
  height: $height;
  left: 0;
  position: absolute;
  right: 0;
  top: (-$height);
  transition: $transition;

  &.is-expired {
    background-color: $brand-error;
  }
}

.lifespan__fill {
  background-color: $brand-primary;
  height: inherit;

  .is-expired & {
    display: none;
  }
}

.image__title {
  text-align: center;
  user-select: none;
  position: relative;
  margin: 0 1rem;
  overflow: visible;

  h2 {
    margin: 0;
    font-size: 1.2rem;
  }
}

.image__input__container {
  position: relative;
}

.image__input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -1px;
  text-align: center;
  padding-right: 2rem;
}

.image__input__cancel {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.03s linear;

  &:active {
    margin-top: 2px;
  }
}
