$brand-primary: rgb(0, 136, 238);
$brand-success: rgb(17, 204, 119);
$brand-error: rgb(255, 85, 34);

$gray-dark: #3d464d;
$gray: #47525d;
$gray-light: #7b8994;
$gray-lighter: lighten($gray-light, 30%);

$button-styles: (
  primary: $brand-primary,
  success: $brand-success,
  error: $brand-error
);

$border-radius: 5px;

$transition: 0.1s ease-in-out;
$ease-in-out-back: cubic-bezier(0.680, -0.550, 0.265, 1.550);

@mixin checkerboard($color-1: white, $color-2: darken(white, 2%), $size: 1.5rem) {
  $half: $size / 2;
  background-color: $color-1;
  background-image:
    linear-gradient(45deg, $color-2 25%, transparent 25%, transparent 75%, $color-2 75%, $color-2),
    linear-gradient(45deg, $color-2 25%, transparent 25%, transparent 75%, $color-2 75%, $color-2);
  background-size: $size $size;
  background-position:0 0, $half $half;
}

@mixin ellipsis($width: 100%, $display: inline-block) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
