.dropzone {
  border-radius: $border-radius;
  border: 2px dashed;
  color: white;
  font-weight: bold;
  min-height: 9rem;
  padding: 4rem;
  position: relative;
  text-align: center;
  user-select: none;

  &.is-uploading {
    background-image: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 5px,
      rgba(white, 0.3) 5px,
      rgba(white, 0.3) 10px
    );
    cursor: not-allowed;
    pointer-events: none;
  }

  &.is-active {
    background-color: rgba(white, 0.3);
    border-style: solid;
  }
}

.new-image__preview {
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
