$brand-primary: blue;

@import "emoji-picker";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "tofino", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.image__container {
  position: relative;
}

.image__element {
  max-width: 100%;
}

.pips {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  cursor: crosshair;
}

.pip__container {
  position: absolute;
  transform: translate3d(-50%, -50%, 0);

  &.is-selected {
    z-index: 9;
  }
}

.pip {
  $size: 2rem;
  $radius: $size / 2;
  height: $size;
  width: $size;
  background-color: white;
  box-shadow: 0 2px 5px rgba(black, 0.3);
  border-radius: $radius;
  cursor: pointer;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}

.emoji {
  font-size: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1px;
  transform: translate3d(-50%, -50%, 0);
}
