* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "tofino", "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.image__container {
  position: relative;
}

.image__element {
  max-width: 100%;
}

.pips {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.pip {
  $size: 1rem;
  $radius: $size / 2;
  height: $size;
  width: $size;
  position: absolute;
  background-color: blue;
  border-radius: 0 $radius $radius $radius;
}
